<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wewantour9">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WeWanTour"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">
        <activity android:name=".HomepageAgency"

            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".TotalRegister"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".prove" />
        <activity
            android:name=".ProfileUser"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Login"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".add_services" />
        <activity android:name=".add_tour" />
        <activity
            android:name=".Activity_Registration_Agency"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".Activity_Registration_User"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>
        <activity android:name=".add_transport" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>