<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wewantour9">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="WeWanTour"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">

        <activity android:name=".Review"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Run_prova"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PedometerRun"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PedometerChoice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".my_past_incoming_reservation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".My_reservation_agency"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GoogleIntermediate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".List_tour_forAddTransport"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".edit_tour"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".My_reservation_customer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".reservation_summary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".List_transport_for_prenotation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".List_tour_inAgency"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".my_tours_and_transport"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Credits"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Homepage"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomepageAgency"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TotalRegister"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileUser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".add_services" />
        <activity
            android:name=".add_tour"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".add_transport"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tour_details"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>